{% extends 'base.html.twig' %}

{% block content %}
    <h1>Contact List</h1>

    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in pagination %}
                <tr>
                    <td>{{ contact.firstName }}</td>
                    <td>
                    <a href="{{ path('contact_edit', {'lastName': contact.lastName}) }}" class="edit-contact-button">{{ contact.lastName }}</a>
                    </td>
                    <td>{{ contact.phoneNumber }}</td>
                    <td>{{ contact.email }}</td>
                    {# <td><span class="note">{{ contact.note }}</span></td> #}
                    <td><button onclick="showModal('{{ contact.note }}')">Show the note</button></td>
                </tr>
                <div class="modal">
                <div class="modal-content"></div>
                </div>
            {% endfor %}
        </tbody>
    </table>
 <a href="{{ path('contact_create') }}">Create a New Contact</a>

{{ knp_pagination_render(pagination) }}

{% endblock %}
