{% extends 'base.html.twig' %}

{% block content %}
    <h1>Contact List</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in pagination %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>
                    <a href="{{ path('contact_edit', {'firstName': contact.firstName}) }}" class="edit-contact-button">{{ contact.firstName}}</a>
                    </td>
                    <td>{{ contact.lastName }}</td>
                    <td>{{ contact.phoneNumber }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.note }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
 <a href="{{ path('contact_create') }}">Create a New Contact</a>

    {# <ul>
        {% for item in pagination %}
            <li>{{ item.firstName }} {{ item.lastName }}</li>
        {% endfor %}
    </ul> #}

{{ knp_pagination_render(pagination) }}

{% endblock %}
